<!-- Contact us -->
<footer id="contact-us">
    <div class="container">
      <div class="left">
        <div class="about-us">
          <figure>
            <img
              class="responsive-img"
              src="https://www.doo.hk/static/media/Logo.5f11e46d.svg" 
              alt="doo holding logo"
            />
          </figure>
          <p>Brings Global Financial Execution to the Next Level.</p>
          <p>© 2020 All Rights Reserved</p>
        </div>
        <div class="grid-container-2 right">
          <div class="social-media">
            <p>Follow Us</p>
            <ul>
              <li>
                <span class="icon"
                  ><img
                    src="https://www.doo.hk/static/media/facebook.11a4028f.svg"
                    alt="" /></span
                ><a
                  href="https://www.facebook.com/Doo-Clearing-Global-100781638129605"
                  target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <span class="icon"
                  ><img
                    src="https://www.doo.hk/static/media/twitter.7140220d.svg"
                    alt="" /></span
                ><a
                  href="https://twitter.com/DooClearing"
                  target="_blank"
                  >Twitter</a
                >
              </li>
              <li>
                <span class="icon"
                  ><img
                    src="https://www.doo.hk/static/media/linkedIn.f7cd96ba.svg"
                    alt="" /></span
                ><a
                  href="https://www.linkedin.com/company/doo-holding-group-limited"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
            </ul>
          </div>
          <div class="contact-us">
            <p>Contact us</p>
            <ul>
              <li>support@doo.hk</li>
              <li>+852 5641 1906</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid-container-4 logos">
        <figure class="logo">
          <a
            href="//www.dooprime.com"
            target="_blank"
            ><img
              class="responsive-img"
              src="https://www.doo.hk/static/media/DooPrime.4925b672.svg"
              onmouseover="this.src='https://www.doo.hk/static/media/DooPrimeColor.afdec70d.svg'" 
              onmouseout="this.src='https://www.doo.hk/static/media/DooPrime.4925b672.svg'"
              alt=""
          /></a>
        </figure>
        <figure class="logo">
          <a
            href="//www.dooclearing.com"
            target="_blank"
            ><img
              class="responsive-img"
              src="https://www.doo.hk/static/media/DooClearing.c10e1125.svg"
 
              alt=""
          /></a>
        </figure>
        <figure class="logo">
          <a href="//doo.tech" target="_blank"
            ><img
              class="responsive-img"
              src="https://www.doo.hk/static/media/DooTech.e98c2c6d.svg"
              onmouseover="this.src='https://www.doo.hk/static/media/DooTechColor.02eb2cd3.svg'" 
              onmouseout="this.src='https://www.doo.hk/static/media/DooTech.e98c2c6d.svg'"
              alt=""
          /></a>
        </figure>
        <figure class="logo">
          <a
            href="//www.dooexchange.com"
            target="_blank"
            ><img
              class="responsive-img"
              src="https://www.doo.hk/static/media/DooExchange.c93d73af.svg" 
              onmouseover="this.src='https://www.doo.hk/static/media/DooExchangeColor.6744a7ac.svg'" 
              onmouseout="this.src='https://www.doo.hk/static/media/DooExchange.c93d73af.svg'"
              alt=""
          /></a>
        </figure>
      </div>
      <hr />
      <div class="grid-container-2">
        <div class="footer-left">
          <div>
            <p class="name">Doo Holding Group Limited</p>
            <div>
              <p class="detail">
                It is a limited company with the registered office at Unit
                A, 25/F, Tower B, Billion Centre, No.1 Wang Kwong Road,
                Kowloon Bay, Hong Kong, and the company registration number
                is 2169884.
              </p>
              <p class="detail">
                Doo Holding Group Limited is a licensed money service
                operator, permitted to conduct money exchange and remittance
                business, authorized by Customs and Excise Department, HKSAR
                and license number is 18-06-02444.
              </p>
            </div>
            <p class="website">
              <a
                href="//www.dooexchange.com"
                target="_blank"
                >www.dooexchange.com</a
              >
            </p>
          </div>
          <div>
            <p class="name">Doo Technology Limited</p>
            <div>
              <p class="detail">
                It is a limited company with the registered office at Unit
                A, 25/F, Tower B, Billion Centre, No.1 Wang Kwong Road,
                Kowloon Bay, Hong Kong, and the company registration number
                is 2535212.
              </p>
              <p class="detail">
                Doo Technology Limited is a software technology provider
                serving the financial industry.
              </p>
            </div>
            <p class="website">
              <a href="//doo.tech" target="_blank"
                >doo.tech</a
              >
            </p>
          </div>
          <div>
            <p class="name">Doo Clearing Limited</p>
            <div>
              <p class="detail">
                It is a limited company with the registered office at 208
                Uxbridge Road, Shepherds Bush, London, England, W12 7JD, and
                the company registration number is 10684079.
              </p>
              <p class="detail">
                Doo Clearing Limited is a futures and forex broker and
                liquidity provider, authorized and regulated by the
                Financial Conduct Authority (FCA), and the regulatory number
                is 833414.
              </p>
            </div>
            <p class="website">
              <a
                href="//www.dooclearing.com"
                target="_blank"
       
                >www.dooclearing.com</a
              >
            </p>
          </div>
        </div>
        <div class="footer-right">
          <div>
            <p class="name">Doo Holding Group Limited</p>
            <p class="detail">
              It is a branch with the registered office at 4968 Yonge
              Street, Toronto Ontario, M2N 7G9, Canada. We have an
              obligation to report to FINTRAC about the business activities
              that we registered, and the regulatory number is M19501973.
            </p>
            <p class="website">
              <a
                href="//www.dooexchange.com"
                target="_blank"
       
                >www.dooexchange.com</a
              >
            </p>
          </div>
          <div>
            <p class="name">Doo Consulting Limited</p>
            <div>
              <p class="detail">
                It is a limited company with the registered office at Unit
                A, 25/F, Tower B, Billion Centre, No.1 Wang Kwong Road,
                Kowloon Bay, Hong Kong, and the company registration number
                is 2601567.
              </p>
              <p class="detail">
                Doo Consulting Limited is a licensed trust or company
                service provider, authorized by Company Registry in Hong
                Kong, and the license number is TC006709.
              </p>
            </div>
            <p class="website">
              <a href="//doo.hk" target="_blank" 
                >doo.hk</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>